
<h1>Restaurants</h1>
<hr>

<div class="form-group">
    <label>Ville :</label>
    <input type="texte" data-bind="value: ville" class="form-control">
</div>

<div class="btn btn-success" data-bind="click: rechercher"> Rechercher </div>
